@use "../modules/_global.scss" as *;
@use "../modules/_colors.scss" as *;
@use "../modules/_functions.scss" as *;

/**
 * Content styles
 */
.teaser {
  border-bottom: 1px solid $border;
  margin-bottom: $spacing;
  padding-bottom: $spacing;
  .teaser-content {
    overflow: hidden;
  }
}
