@use "../modules/_colors.scss" as c;


//
// Functions
//

@mixin font-size($value : 15) {
  font−size: ($value / 10) + rem;
}

@function set-text-color($color) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);

  $yiq: calc((($r*299) + ($g*587) + ($b*114))/1000);
  @if ($yiq >= 128) {
    @return c.$text-black; // Lighter backgorund, return dark color
  } @else {
    @return #fff; // Darker background, return light color
  }
}

@function set-link-text-color($color) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);

  $yiq: calc((($r*299) + ($g*587) + ($b*114))/1000);
  @if ($yiq >= 128) {
    @return lighten(c.$text-black, 20); // Lighter backgorund, return dark color
  } @else {
    @return darken(#fff, 20); // Darker background, return light color
  }
}

@function set-link-color($color) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);

  $yiq: calc((($r*299) + ($g*587) + ($b*114))/1000);

  @if ($color == c.$cugold) {
    @return #444;
  }
  @else if (lightness($color) == 100%) {
    @return c.$blue;
  }
  @else if ($yiq >= 220) {
    @return c.$blue-dark;
  }
  @else if ($yiq >= 128) {
    @return darken(c.$blue-contrast, 5); // Lighter backgorund, return dark color
  }
  // Color is probably dark at this point.
  // Return gold if image has no color/saturation = 0
  // Or return a light gray
  @else {
    @if (saturation($color) > 0) {
      @return #ddd;
    }
    @else {
      @return c.$gold; // Darker background, return light color
    }
  }
}

@function set-link-hover-color($color) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);

  $yiq: calc((($r*299) + ($g*587) + ($b*114))/1000);

  @if ($color == c.$cugold) {
    @return c.$black;
  }
  @else if (lightness($color) == 100%) {
    @return c.$red;
  }
  @else if ($yiq >= 220) {
    @return c.$red;
  }
  @else if ($yiq >= 128) {
    @return darken(c.$red, 5); // Lighter backgorund, return dark color
  } @else {
    @return #fff; // Darker background, return light color
  }
}
